.box {
    display: flex;
    padding: 20px;
    margin: 25px;
    background-color: lightblue;
    border-style: solid;
    border-color: rgb(148, 127, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }